.overlap-group{
    align-items: flex-start;
    background-color: #ffebd7;
    border: 1px none;
    /* display: flex; */
    height: 400px;
    width: 200px;
    /* justify-content: flex-start; */
    /* padding: 9px 9px; */
    position: absolute;
    top: 100px;
    right:10px;
    width:200px;
    border:5px;
}
input#name{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 24px;
    font-size: 14px;
}
textarea#desc{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 72px;
    font-size: 14px;
}
input#price{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 24px;
    font-size: 14px;
}
input#comp{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 24px;
    font-size: 14px;
}
#img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 24px;
    font-size: 14px;
}
#pImg{
    height: 225px;
    width: 200px;
}
#pName{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    width: 182px;
    padding: 0px 9px;
}
#pDesc{
    padding: 0px 9px;
    font-size: 14px;
    word-wrap: break-word;
}
#pPrice{
    font-size: 14px;
    padding: 0px 9px;
}
#pComp{
    font-size: 12px;
    padding: 0px 9px;
}